<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">로그인</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/login">
          <div class="mb-3">
            <label for="login-username" class="form-label">사용자 이름</label>
            <input
              type="text"
              class="form-control"
              id="login-username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="login-password" class="form-label">비밀번호</label>
            <input
              type="password"
              class="form-control"
              id="login-password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary w-100">로그인</button>
        </form>
      </div>
    </div>
  </div>
</div>
